/-
/.Xauthority
/.bash_history
/.bash_history-71249.tmp
/.bash_logout
/.bashrc
/.cache
/.cache.sqlite
/.conda
/.config
/.console-ninja
/.cursor
/.cursor-server
/.dbclient
/.docker
/.dotnet
/.gitconfig
/.gnupg
/.icons
/.ipynb_checkpoints
/.ipython
/.java
/.jupyter
/.keras
/.lesshst
/.local
/.npm
/.nv
/.pam_environment
/.pcsc10
/.pcsc11
/.pki
/.profile
/.psql_history
/.putty
/.selected_editor
/.ssh
/.sudo_as_admin_successful
/.themes
/.viminfo
/.vscode
/.vscode-server
/.wget-hsts
/.xorgxrdp.10.log
/.xorgxrdp.10.log.old
/.xorgxrdp.11.log
/.xorgxrdp.11.log.old
/.xprofile.bak
/.xsession-errors
/Desktop
/Documents
/Downloads
/Miniconda3-latest-Linux-x86_64.sh
/Music
/Pictures
/Public
/Templates
/Videos
/airflow
/auto_display_adjust.sh
/builder.config.json
/config
/dags
/docker-compose.yaml
/filtered_merged_data.csv
/google-chrome-stable_current_amd64.deb
/green
/hudius
/logs
/merged_data_012_rev.csv
/miniconda3
/mlruns
/numeric_df.csv
/output
/photorec.se2
/plugins
/snap
/solcast_forecast.csv
/testdisk.log
/thinclient_drives
/tyield_data_1018282223012.csv
/tyield_data_1018282225009.csv
/tyield_data_export.csv
/xprofile.log